@import "../../variables";

.pagination__number.pagination__number_isActive {
    color: #7EBC3C;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width: 1079px;
    width: 100%;
    padding: 0 41px;
}

.pagination__numbers {
    display: flex;
    gap: 10px;
}

.pagination__number {
    @include textStyle($fontSize: 18px, $fontColor: $textFontColor);
    cursor: pointer
}

.pagination__option {
    @include textStyle($fontSize: 24px, $fontColor: $textFontColor);
    cursor: pointer
}