@import "../../../variables";

.tableHead {
    background-color: #474955;

    &.id {
        width: 110px
    }

    &.title {
        width: 529px;
    }

    &.body {
        width: 433px;
    }
}
th {
    position: relative;
}

.tableHead__filteringBtn {
    position: absolute;
    width: 100%;
    height: 100%;
}

.tableHead__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 31px;
}

.tableHead__content__par {
    @include textStyle($fontSize: 14px, $fontColor: $headTextColor)
}