@import '../../variables';

.search {
    display: grid;
    grid-template-columns: 595px 36px 1fr;
    align-items: center;
    max-width: 1079px;
    width: 100%;
    margin-bottom: 15px;
}

.search__input {
    grid-area: 1 / 1 / 1 / 3;
    max-width: 631px;
    width: 100%;
    height: 52px;
    padding: 18px 0 15px 26px;
    box-sizing: border-box;
    background-color: #5A5C66;
    border: none;

    @include textStyle($fontSize: 14px, $fontColor: #B2B7BF)
}

.search__image {
    grid-area: 1 / 2 / 1 / 3;
    height: 20px;
    width: 21px;
}