@import "../../../variables";

.tableBody__item {
    vertical-align: center;
    padding: 15px 12px 14px 11px;
    border-spacing: 0px;
    border: 1px solid #E3E6EC;
    @include textStyle($fontSize: 13px, $fontColor: $textFontColor)
}

.tableBody__item_id {
    text-align: center;
}

.tableBody__item div {
    height: 50px;
    overflow: auto;
}
