$textFontColor: #474955;
$headTextColor: #FFFFFF;

@mixin textStyle($fontSize, $fontColor) {
    font-family: 'Roboto', sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: $fontSize;
    line-height: 137.69%;
    color: $fontColor
}